# Plus Pix / pro PAYbr
# NUNCA commite valores reais neste arquivo.
PLUSPIX_CLIENT_ID=
PLUSPIX_CLIENT_SECRET=

# Valor do e-book enviado para a API /api/v1/deposit
# Exemplo: 19.90
EBOOK_PRICE_AMOUNT=23.47
